{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'travel/styles.css' %}" />
  </head>
  <body>
    <div>
      <b>HELLO WORLD! Yes!</b>
    </div>

    <script type="module">
      import * as THREE from '{% static "travel/libs/three.module.js" %}';
      //import { GLTFLoader } from '{% static "travel/libs/GLTFLoader.js" %}';
      //import { OrbitControls } from '{% static "travel/libs/OrbitControls.js" %}';

      const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        document.body.appendChild( renderer.domElement );

        const geometry = new THREE.BoxGeometry( 1, 1, 2 );
        const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
        const cube = new THREE.Mesh( geometry, material );
        scene.add( cube );

        camera.position.z = 2;

        function animate() {
            requestAnimationFrame( animate );

            cube.rotation.x += 0.01;
            cube.rotation.y += 0.01;

            renderer.render( scene, camera );
        }

        animate();
    </script>
  </body>
</html>
