{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'travel/styles.css' %}" />

    <title>{% block title %}The Wonder Good{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="#">The Wonder Good</a>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Wellness</a></li>
        <li><a href="#">Gear</a></li>
      </ul>
    </nav>
    <h1>ONE</h1>
    <div>{% block content %} {% endblock %}</div>

    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
